# Django
*.pyc
*.pyo
__pycache__/
db.sqlite3
*.sqlite3

# Virtual Environment
venv/
env/

# Logs
*.log

# IDE/Editor specific files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
elastic/__pycache__/apps.cpython-312.pyc
elastic/__pycache__/models.cpython-312.pyc
Eureka/__pycache__/settings.cpython-312.pyc

Eureka/__pycache__/urls.cpython-312.pyc
