.MoreDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 18px;
    padding: 20px;
    overflow-x: hidden;
    line-height: 1.6;
}

.textarea-as-p {
    font-size: 1em;
    color: #444;
    padding: 20px;
    border: none;
    resize: none;
    width: 100%;
    outline: none;
    font-family: 'Montserrat', sans-serif;
  }
  .Corr-Details{
    width: 100%;
    
}
/* .abstract{
    height: 20vh;
} */
