.SearchBar2 {
    display: flex;
    align-items: center ;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.SearchBar2 input {
    font-family: 'Montserrat', sans-serif;
    outline: none;
    height: 40px;
    border: none;
    width: 97%;
}

.SearchIcon2, .Plus {
    cursor: pointer;
}

.Barre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 500px) {
   
    .SearchBar2 input {
        width: 35vw;
    }
    
    .SearchBar2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}