body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0; /* Supprimez la marge par défaut du corps */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border-radius: 8px;
  overflow: hidden;
}

.picAuth-container {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  width: 50vw;
  margin-left: 2vw;
}

.picAuth-container svg {
  width: 100%;
  height: 95%;
  max-width: 650px; /* Optionally, set a maximum width to control the image size */
}

.login-form {
  width: 50vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form vertically */
  justify-content: center; /* Center the form horizontally */
}

  
.login-form h2 {
  color: var(--Neutral00, #030303);
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
}
  
  .email-password {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .email-password label {
    display: block;
    margin-bottom: 1.5vh;
    margin-top: 4vh;
  }
  
  .email-password input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    width: 30vw;
    padding: 1rem 8px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--Neutral02, #A6A6A6);
  }

.login-form button {
    background-color: #2546F3;
    color: #fff;
    border: none;
    padding: 1.5vh 5vw;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10vh 0 3vh 0;
}
  
.login-form button:hover {
    background-color: #0923A9;
  }
.login-form a {
    text-decoration: none; 
    color: #007bff; 
    cursor: pointer; 
  }
  
  a:hover {
    text-decoration: underline; 
  }

  @media screen and (max-width: 1024px) {
  
    .picAuth-container {
      display: none; 
    }
    h2 {
      font-size: 2rem;
    }
  
    .email-password input {
      width: 50vw;
    }
  
    button {
        padding: 0.8rem 3.5em;
        margin-top: 7vh;
    }
  }

  @media screen and (max-width: 767px) {
    .picAuth-container {
      display: none; 
    }

    .login-form {
      width: 100%;
    }

    .email-password input {
      max-width: 85vw;
      width: 20rem;
    }
  
    button {
        padding: 0.8rem 3rem;
    }
  }