body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
}

.DetailsContainer {
  width: auto;
  margin: 50px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}


.ResultatDetailsContainer {
  overflow-y: auto;
}

.moreDetails {
  overflow-y: auto;
  overflow-x: hidden;   
}

@media screen and (max-width: 500px) {

  .DetailsContainer {
      margin: 20px;
      padding: 0px;
  }
  
}
.NavCorriger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border: 2px ; 
}
.cancel{
  display: flex;
  width: 12vw;
  height: 7vh;
  padding-left: 1rem;
padding-right: 1rem;
  justify-content: center;
  align-items: center;
  
  flex-shrink: 0;
  border-radius: 0.125rem;
  background: var(--Neutral04, #FFF);
  color: var(--Blue-secondary, #2546F3);
font-family: SF Pro Display;
font-size: 1.2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor: pointer;
}
.correction{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
