.BodyFiltre {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 13vw;
    position: absolute;
    z-index: 100;
}

.Container {
    margin-top: 10px;
}

.Ligne {
    display: flex;
    align-items: center;
}

.Ligne span {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.Check {
    cursor: pointer;
}
.Check.selected {

    background-color: #e0e0e0;
}


@media (max-width: 550px) {
   
    .BodyFiltre {
        width: 60vw;
        padding: 10px;
    }
    
}
