nav {
    display: flex;
    align-items:center;
}

header {
	height: 40px;
    width: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
}

nav a {
	text-decoration: none;
    font-size: 1.3rem;
    margin-right: 5vw;
    color: black;
}

nav a:hover, nav a.active {
	color: #2546F3;
}

header .nav-btn {
	display: none;
}


@media only screen and (max-width: 1024px) {
	header .nav-btn {
        display: inline;
        padding: 5px;
	    cursor: pointer;
	    background: transparent;
	    border: none;
	    outline: none;
	    color:#2546F3;
	    visibility: visible;
	    opacity: 1;
	    font-size: 1.8rem;
        margin-right: 2rem;
    }
    

	header nav {
		position: fixed;
		top: 0;
		right: -100vw;
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
        justify-content: center;
		gap: 1.5rem;
		transition: 1s;
        z-index: 100;
        background-color: #D9D9D9;
	}

	header .responsive_nav {
		transform: translateX(-100vw);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}