.Resultat {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 20px;
}

.Information {
    background-color: white;
    height: 150px;
    width: 65vw;
    padding: 25px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.Details {
    background-color: #0923A9;
    height: 150px;
    width: 10vw;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
