.Resultat {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 20px;
}

.Information {
    background-color: white;
    height: 120px;
    width: 65vw;
    padding: 25px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.Information.filled svg path {
    fill: '#0923A9';
}

.Details {
    background-color: #0923A9;
    height: 120px;
    width: 10vw;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.info {
    margin-bottom: 5px;
}

@media (max-width: 550px) {
   
    .Resultat {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
    }

    .Information {
        width: 54vw;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .Details {
        height: 15px;
        width: 58.5vw;
        padding: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;    
    }

}
