body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.picAuth-container {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.picAuth-container svg {
  width: 100%;
  height: 95%;
  max-width: 650px; 
}

.login-form {
  width: 50vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.login-form h2 {
  color: var(--Neutral00, #030303);
  font-size: calc(10px + 3vmin);
  font-style: normal;
  font-weight: bold;
}

.email-password {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.email-password label {
  display: block;
  font-size: calc(10px + 1vmin);
  margin-bottom: 1.5vh;
  margin-top: 4vh;
}

.email-password input {
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 1vmin);
  width: 30vw;
  padding: 1rem 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #a6a6a6;
}

.login-form button {
  background-color: #2546f3;
  color: #fff;
  border: none;
  padding: 1.7vmin 10vmin;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  margin: 10vh 0 3vh 0;
}

.login-form button:hover {
  background-color: #0923a9;
}

.login-form a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.login-form a:hover {
  text-decoration: underline;
}

.error-message {
  color: #ff0000;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
  top: 3vh;
}

.signup-prg p {
  font-size: 0.4rem;
}


@media screen and (max-width: 1024px) {
  .picAuth-container {
    display: none;
  }

  .email-password input {
    width: 50vw;
  }

  .login-form button {
    margin-top: 7vh;
    padding: 2vmin 10vmin;
  }
}


@media screen and (max-width: 767px) {
  .picAuth-container {
    display: none;
  }

  .login-form {
    width: 100%;
  }

  .email-password input {
    max-width: 85vw;
    width: 20rem;
  }

  .login-form button {
    font-size: 0.9rem;
  }

  .login-form p {
    font-size: 0.7rem;
    position: relative;
    top: 1vh;
  }
}
