.form-header {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 4vw;
}

.buttons {
  display: flex;
  gap: 4vw;
}

.form-header button {
  border: none;
  display: flex;
  font-family: "Montserrat", sans-serif;
  border-radius: 2px;
  font-size: calc(10px + 1vmin);
  height: 2.5rem;
  width: 7rem;
  justify-content: center;
  align-items: center;
  gap: 15%;
  cursor: pointer;
  margin-top: 0;
}

.cancel-button {
  background-color: #fff;
  color: #2546f3;
}

.edit-button {
  background-color: #2546f3;
  color: #fff;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-form .email-password {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 10vw;
  margin-bottom: 20vh;
}

.profile-form form {
  position: absolute;
  top: 20%;
  border-radius: 8px;
  background: #f3f3f3;
  width: 60%;
}

.profile-form form input {
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 1vmin);
  width: 30vw;
  padding: 1rem 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #a6a6a6;
}


@media screen and (max-width: 1024px) {
  .picAuth-container {
    display: none;
  }
  .profile-form form {
    width: 80%;
  }
  .profile-form form input {
    width: 90%;
  }
  .buttons.editing {
    position: absolute;
    top: 80%;
    right: 5%;
    margin-top: 0;
  }
}


@media screen and (max-width: 768px) {
  .form-header {
    padding: 0 4vw;
  }
  .form-header button {
    height: 2rem;
    width: 6rem;
  }
}